<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/faviconico" type="image/x-icon">
    <link rel="icon" href="/faviconico" type="image/x-icon">
    <script src="/jquery"></script>
    <title>Document</title>
    <style>
        .header {
    background-color:   #181b33;
}
.menu-bar ul ul li {
    background-color:   #181b33;;
}
        .board-update-panel {
            width: 800px;
            margin: auto;
            vertical-align: middle;
            border: 1px solid black;
            box-shadow: 5px 5px 5px;
            padding: 15px;
            margin-top: 170px;
            background-color: #181b33;
            margin-bottom: 20%;
            opacity: 0.9;
            border-radius: 10px;
        }

        .buttons {
            text-align: center;
        }

        .button {
            display: inline-block;
            cursor: pointer;
            margin-left: 15px;
            color: white;
        }

        body {
            background-image: url('/boardimage');
            background-size: cover;
        }

        .board-boardno,
        .boardtit,
        .board-userid,
        .bordercon {
            color: white;
        }

        .board-boardno{
            margin-bottom: 10px;
            font-size: 20px;
        }
        .boardtit{
            font-size: 25px;
            margin-bottom: 10px;
        }
        #tit{
            font-size: 25px;
            border-radius: 10px;
        }
        .board-content{
            border-radius: 10px;
            font-size: 15px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="header">
        <header id="total-header"></header>
    </div>
    <div class="board-update-panel">
        <form action="/updateBoard" method="POST" name="updateForm">
            <div class="board-boardno" disabled>No: <%=data[0].boardno%> <input type="hidden"
                        value="<%=data[0].boardno%>" name="boardno">
            </div>
            <div class="boardtit">글 제목 : <input class="board-title" id="tit" value="<%=data[0].title%>" name="title">
            </div>
            <div class="board-userid" disabled>작성자 : <%=data[0].userid%>
            </div>
            <div class="bordercon"><br><textarea name="content" class="board-content" cols="95"
                    rows="10"><%=data[0].content%></textarea></div>

        </form>
        <div class="buttons">
            <div onclick="update()" class="button">수정하기</div>
            <div onclick="history.back()" class="button">뒤로가기</div>
        </div>


    </div>
    <footer id="total-footer"></footer>
    <script>
        function update() {
            var title = document.getElementById('tit').value;
            var content = $('.board-content').val()
            if ((title != "") & (content != "")) {
                var con = confirm('수정하시겠습니까?');
                if (con == true) {
                    updateForm.submit() = '/updateBoard';
                }
            }else{
                alert('제목과 내용을 입력부탁드립니다.')
            }
        }
        $(document).ready(function () {
            $("#total-header").load("/header.html")
        });
        $(document).ready(function () {
            $("#total-footer").load("/totalfooter.html")
        });
    </script>
</body>

</html>